/* default rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}



/* title container */

.container {
    max-width: 70%;
    margin: 0 auto;
}

.title-container {
    padding: 40px 0px;
    text-align: center;
}

.title-container h1 {
    color: #E5316F;
    font-weight: 900;
}

.title-container p {
    margin-top: 20px;
}



/* cards container floating */

.cards-row {
    margin-bottom: 20px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.card {
    background-color: #0F0E17;
    box-shadow: 1px 2px 10px 3px rgba(0,0,0,.2);
    width: 32%;
    float: left;
}

.cards-row .card:nth-child(2) {
    margin: 0% 2%;
}

.card img {
    width: 30%;
    float: left;
    vertical-align: bottom;
}

.member-profile {
    width: 70%;
    float: left;
}



/* cards content */

.member-profile {
    padding: 12px;
    color: #fff;
}

.member-profile h5{
    font-weight: 900;
    text-transform: uppercase;
}

.member-profile p{
    font-size: 12px;
    margin: 6px 0px;
}

.member-profile a{
    font-size: 12px;
    color: #67C5EF;
    text-decoration: none;
}